vk.com/video[owner_id]_[video_id]

.PageActionCell{
    margin:unset;
}
[dir] .profile_info_row .label {
    margin: 0;
}
.profile_info {
    line-height: 150%;
}
.profile_info .labeled {
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile_info .labeled>a {
    unicode-bidi: embed;
}
.profile_info .label {
    width: 165px;
}
[dir=ltr] .profile_info_edit {
    float: right;
    padding-left: 7px;
}
.profile_info_block:hover .profile_info_header_wrap a {
    opacity: 1;
}
[dir] .profile_info_header_wrap {
    border-bottom: none;
    margin: -11px 0 4px;
}
[dir] .profile_info_block {
    padding: 0 0 29px;
    border-top: 1px solid var(--separator_common);
}
[dir=ltr] .profile_more_info_link {
    padding-left: 165px;
    margin: 10px 0 -5px;
}
.profile_label_less, .info_shown .profile_label_more {
    display: none;
}
